<!DOCTYPE html>
<html lang="en">

<head>
	<title>Savvy Bulb</title>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/application.css">

	<!-- Java Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/sparkjs/1.0.0/spark.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/timer.jquery/0.9.0/timer.jquery.js"></script>
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="javascript/application.js"></script>

	<meta charset=UTF-8>
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0
	maximum-scale=1.0
	user-scalable=no">
</head>

<body>

	<div class="container">
		<!-- Log in modal  -->
		<div id="spark-login"></div>
		<div id="log-out">
			<button class="spark-login-button" onclick="logOut()">Log out</button>
		</div>

		<div class="lights" id="lights">
			<table class="table table-striped ">
				<thead>
					<tr>
						<td>Light</td>
						<td>Brightness</td>
						<td>Set Brightness</td>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>

		<div><a target="_blank" href="https://github.com/cege1808/Light-Bulb-Adapter-Webapp"><i class="fa fa-github"></i></a></div>
		<div class="clear"></div>

		<div id="sortable" class="jumbotron">
			<div class="row text-align">
				<!-- <div class="col-12 segment">
					<button id="toggle1" class="btn">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</button>
					<div class="heading">
						<p class="label"><span id="label1">Kitchen</span></p>
						<div class="switch">
							<input type="checkbox" name="toggle">
							<label for="toggle"><i></i></label>
							<span></span>
						</div>
					</div>

					<div id="slider1"></div>

					<h6>output from slider: <span id="dimlevel"></span></p>
					<h6>output from particle: <span id="bulblevel"></span></p>


					<div id="collapse1" class="features">
						<div id="strobe1">
							<button class="button_off btn">
								<p>Strobe</p>
								<span class="glyphicon glyphicon-home"></span>
								<span class="glyphicon glyphicon-glass"></span>
							</button>
							<button class="button_on btn">
								<p>Strobe</p>
								<span class="glyphicon glyphicon-home"></span>
								<span class="glyphicon glyphicon-glass"></span>
							</button>
						</div>

						<p>Stobe timer alarm</p>
					</div>
				</div> -->

				<div class="col-12 segment">
					<button id="toggle2" class="btn">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</button>

					<div class="heading">
						<p class="label">Living Room</p>

						<div class="switch">
							<input type="checkbox" name="toggle">
							<label for="toggle"><i></i></label>
							<span></span>
						</div>
					</div>

					<div id="slider2"></div>

					<div id="collapse2" class="features">
						<div id="strobe2" class="col-lg-4">
							<button class="button_off btn text-align">
								<p>Strobe</p>
								<span class="glyphicon glyphicon-home"></span>
								<span class="glyphicon glyphicon-glass"></span>
							</button>
							<button class="button_on btn">
								<p>Strobe</p>
								<span class="glyphicon glyphicon-home"></span>
								<span class="glyphicon glyphicon-glass"></span>
							</button>
						</div>

						<div id="timer" class="col-lg-4">
							<form id="countdown_form" onsubmit="return do_countdown();">
								<!-- <input type="text" class="form-control text_align" placeholder="Enter Brightness" id="timerinput"> -->
								<p id="timertitle" class="text-align"> Timer</p>
								<ul id="settimer" class="text-align">
									<li>
										<p class="timeRefHours">Hours</p>
										<div class="dropdown dropdown-hours">
											<select id="timer_hours" class="dropdown-select">
												<% (0..24).each do |i| %>
													<% if i < 10 %>
														<option value="0<%= i %>"><%= i %></option>
													<% else %>
														<option value="<%= i %>"><%= i %></option>
													<% end %>
												<% end %>
											</select>
										</div>
										<span id="timer_displayhours" class ="countdown">00</span>
										<input type="button" id="timer_set" class="btn btn-info" value="Set"/>
									</li>
									<li>
										<p class="timeRefMinutes">Minutes</p>
										<div class="dropdown dropdown-minutes">
											<select id="timer_minutes" class="dropdown-select">
												<% (0..59).each do |i| %>
													<% if i < 10 %>
														<option value="0<%= i %>"><%= i %></option>
													<% else %>
														<option value="<%= i %>"><%= i %></option>
													<% end %>
												<% end %>
											</select>
										</div>
										<span id="timer_displayminutes" class ="countdown">00</span>
										<input type="button" id="timer_stop" class="btn btn-info" value="Stop" />
									</li>
									<li>
										<p class="timeRefSeconds">Seconds</p>
										<div class="dropdown dropdown-seconds">
											<select id="timer_seconds" class="dropdown-select">
												<% (0..59).each do |i| %>
													<% if i < 10 %>
														<option value="0<%= i %>"><%= i %></option>
													<% else %>
														<option value="<%= i %>"><%= i %></option>
													<% end %>
												<% end %>
											</select>

										</div>
										<span id="timer_displayseconds" class ="countdown">00</span>
										<input type="button" id="timer_reset" class="btn btn-info" value="Reset"/>
									</li>
								</ul>
								<div id="count"></div>
							</form>
						</div>

						<div id="alarm" class="col-lg-4">
							<form id="alarm_form" onsubmit="return do_alarm();">
								<p id="alarmtitle" class="text-align"> Alarm </p>
								<!-- <input type="text" class="form-control text_align" placeholder="Enter Brightness" id="alarminput">-->
								<ul id="setalarm" class="text-align">
									<li>
										<p class="timeRefHours">Hours</p>
										<div class="dropdown dropdown-hours">
											<select id="alarm_hours" class="dropdown-select">
												<% (0..12).each do |i| %>
													<% if i < 10 %>
														<option value="0<%= i %>"><%= i %></option>
													<% else %>
														<option value="<%= i %>"><%= i %></option>
													<% end %>
												<% end %>
											</select>
										</div>
										<span id="alarm_displayhours" class ="showtime">00</span>
										<input type="button" id="alarm_set" class="btn btn-info" value="Set"/>
									</li>
									<li>
										<p class="timeRefMinutes">Minutes</p>
										<div class="dropdown dropdown-minutes">
											<select id="alarm_minutes" class="dropdown-select">
												<% (0..59).each do |i| %>
													<% if i < 10 %>
														<option value="0<%= i %>"><%= i %></option>
													<% else %>
														<option value="<%= i %>"><%= i %></option>
													<% end %>
												<% end %>
											</select>
										</div>
										<span id="alarm_displayminutes" class ="showtime">00</span>
										<input type="button" id="alarm_stop" class="btn btn-info" value="Stop" />
									</li>
									<li>
										<p class="timeRefSeconds">AM/PM</p>
										<div class="dropdown dropdown-seconds">
											<select id="alarm_ampm" class="dropdown-select">
												<option value="AM">AM</option>
												<option value="PM">PM</option>
											</select>
										</div>
										<span id="alarm_displayampm" class ="showtime">--</span>
										<input type="button" id="alarm_reset" class="btn btn-info" value="Reset"/>
									</li>
								</ul>
								<div id="count"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>